@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');

*
{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: 'Poppins', sans-serif;


}
body 
{background-color: black;}

.general{
   margin: auto;
   margin-top: 50px;
   width: 1500px;
   height: 800px;
   background-color: red;
}
hr {
   height: 2px;
   background-color: white;
  
 }

.derecha{
   
  float:right;
   width:300px;
   height: 800px;
   background-color: black;
   padding-left: 30px;
   padding-top: 80px;
}

.div-card {
   border-radius: 30px;
   color: #fff;
 
   padding-bottom: 30px;}

   .PrecioConSoftware{
      border-radius: 30px;
   color: #fff;
 
   padding-bottom: 30px;
   }

   .option {
      border: solid 2px blueviolet;
      border-radius: 5px;
      height: 30px;
      width: 90%;
      color: black;
    }


.Resultadopc{
   background-color: black;
   width: 300px;
   height: 200px;
   color: #fff;
   

}
.fotos{
   padding-bottom: 100px;
   padding-top: 40px;
   margin-left: 20px;
  

}
.izquierda{
   
   float:left;
   width: 300px;
   height: 800px;
   background-color: black;
   padding-top: 100px;

}

.input{
   border: solid 2px #0705ad;
  background-color: transparent;
  border-radius: 5px;
  height: 40px;
  width: 90%;
  color: #fff;

}
button {
   display: block;
   margin-top: 20px;
   cursor: pointer;
   background-color: #0705ad;
   border: none;
   color: #fff;
   height: 30px;
   width: 50%;
   font-size: 14px;
   border-radius: 5px;
 }

 .botonMonitor{
   display: block;
   margin-top: 20px;
   cursor: pointer;
   background-color: #0705ad;
   border: none;
   color: #fff;
   height: 30px;
   width: 50%;
   font-size: 14px;
   border-radius: 5px;
   margin-left: 20px;

 }

.centro{
   width: 900px;
   height: 800px;
   float:left;
  background-color: black;
  padding-top: 100px;
  padding-left: 200px;
}

header{
   background: black;
   width: 100%;
   min-height: 100px;
   
}
.ancho{
   width: 70%;
   height: 100px;
   margin:auto;
   background: black;
}
.logo{
   width: 90%;
   height: 100px;
   background: black;
   float: left;
   padding: 10px;
   padding-left: 300px;
   box-sizing: border-box;
  
}

 footer{
    margin:auto;
    margin-top: 10px;
    text-align: center;
   
    color: white;
    bottom: 0;
    left: 45%;
    padding-bottom: 12px;
    background-color: black;
    
}